.liquid {
    position: absolute;
    bottom: 0px;
    width: 700px;
    aspect-ratio: 1/1;
    background: rgb(59 130 246);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;
  }
  
  .liquid::after,
  .liquid::before {
    content: '';
    width: 1400px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
  }
  
  .liquid::before {
    border-radius: 45%;
    background: rgba(17, 24, 39, 1);
    animation: animate 5s linear infinite;
  }
  
  .liquid::after {
    
    border-radius: 40%;
    background: rgba(17, 24, 39, .5);
    animation: animate 10s linear infinite;
  }
  
  
  
  @keyframes animate {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }